.spanBlock {
  display: flex;
  align-items: center;
}

.spanBlock .pen {
  margin-right: 10px;
}

.span {
  color: #0080FF;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.input {
}

.pen {
}