.button {
  padding: 5px 24px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}

.disabled {
  opacity: 0.6;
  background-color: #0173df;
  color: white;
  cursor: auto;
}

.secondary {
  border-color: #0066CC;
  background-color: white;
  color: #0066CC;
}

.default {
  background-color: #0066CC;
  color: white;
  border-color: #0066CC;
}

.red {
  background-color: #cc0000;
}

.default:hover {
  background-color: #0173df;
}

.red:hover {
}

.secondary:hover {
  background-color: #0173df;
  color: white;
}

.default:active {
  background-color: #0066CC;
}

.secondary:active {
  background-color: #0066CC;
}

.red:active {
}

.button:disabled {
}
